@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Odibee+Sans&family=Roboto+Mono:wght@200&display=swap');




#maindiv {
    position: relative;
    margin: auto;
    margin-top: 5vh;
    display: flex;
    height: 40vh;
    width: 60vw;
    background: linear-gradient( #d5fdff, #9de5ff);
    color: #ac73ff;
    justify-content: center;
    border-radius: 40px;
    font-family: 'Baloo Bhai 2', cursive;

}

.answerDiv {
    background-color: #ac73ff;;
    width: 30vw;
    height: 8vh;
    position: relative;
    top: -34px;
    display: flex;
    margin: auto;
    border-radius: 30px;
    font-family: 'Baloo Bhai 2', cursive;
    justify-content: center;
    color: #9de5ff;
}

.answerDiv button {
    position: absolute;
    left: 301px;
    top: 16px;
    width: 80px;
    height: 25px;
    border-radius: 7px;
    border-style: none;
    background-color: #92daf5;
    font-weight: bold;
    font-family: 'Baloo Bhai 2', cursive;
    color: #ac73ff;
}

 h4 {
    
    position: relative;
    top: -16px;
    left: 633px;
    font-family: 'Baloo Bhai 2', cursive;
}



.taskInput {
    position: absolute;
    display: flex;
    top: 60px;
    background-color: #9de5ff;
    border-radius: 17px;
    border-style: none;
    width: 200px;
    height: 70px;
    text-align: center;
}

.checkInput {
    position: absolute;
    top: 18px;
    left: 70px;
}

.clickButton {
    position: absolute;
    top: 180px;
    width: 100px;
    height: 25px;
    border-radius: 7px;
    border-style: none;
    background-color: #92daf5;
    font-weight: bold;
    font-family: 'Baloo Bhai 2', cursive;
    color: #ac73ff;
}


